{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12 d-flex p-3">
  <!-- <div class="m-2"> -->
     <div class="col-6 p-3">
       <img src="{{postmodel.image.url}}" alt="" style="width: 80%; height:430px">
     </div>
    <div class="col-6 p-4">
      <h5 class="card-title"><b>{{postmodel.post_name}}</b> </h5>
      <p class="card-text">
       {{postmodel.description}}
      </p>
      <p>
        <b>Category :</b>
        {% for cat in postmodel.category.all %}
           <button class="btn btn-primary btn-sm m-2" disabled>{{cat.name}}</button>
        {% endfor %}
      </p>
      
      <div class="d-flex gap-2">
        <div><a class="btn btn-primary" href="{% url 'like' postmodel.id %}">Like👍</a></div>
        <div style="border: 3px solid gray; width: 120px;"><p class="text-start">Total Vote: {{ postmodel.like|add:postmodel.dislike }}</p></div>
        <div><a class="btn btn-dark" href="{% url 'dislike' postmodel.id %}">Dislike👎</a></div>
      </div>
      
    </div>
  <!-- </div> -->
</div>


<div class="card m-2">
  <h5 class="p-3">Total Comments : {{comments | length}}</h5>
  {% for comment in comments %}
    <div class="card-body border m-2">
          <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
          <p>{{comment.body}}</p>
          <!-- <p>{{comment.id}}</p> -->
          {% if request.user.email == comment.email %}
            <a class="btn btn-warning" href="{% url 'edit_comment' comment.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
          {% endif %}
    </div>
  {% endfor %}
</div>

<div class="card m-2">
  <div class="card-body">
      <form method="post">
          <h1>Add Comment</h1>
          {% csrf_token %}
          {{comment_form | crispy}}

          <button class="btn btn-warning">Submit</button>
      </form>
  </div>
</div>
 
{% endblock %}