{% extends "base.html" %}


{% block content %}
{% load static %}

<div class="dashboard-container col-md-12">
    <div class="row">
        <div class="dash-menu col-md-2 text-center">
            <p class="bg-secondary p-3"><a class="text-decoration-none text-black" href="{% url 'profile'%}">My Post</a></p>
            <p class="bg-secondary p-3"><a class="text-decoration-none text-black" href="{% url 'add_category'%}">Add Category</a></p>
            <p class="bg-secondary p-3"><a class="text-decoration-none text-black" href="{% url 'add_book'%}">Add Post</a></p>
            <p class="bg-secondary p-3"><a class="text-decoration-none text-black" href="{% url 'edit_profile' request.user.id %}">Edit Profile</a></p>
         </div>
         <div class="dash-body col-md-10">
           <div class="My-post">
             <table class="table table-bordered mt-2 w-75">
               <thead>
                 <tr>
                   <th scope="col">Book Id</th>
                   <th scope="col">Book Name</th>
                   <th scope="col">Quantity</th>
                   <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                   {% for p in data %}
                   <tr>
                     <th scope=>{{p.id}}</th>
                     <td>{{p.book_name}}</td>
                     <td>{{p.quantity}}</td>
                     <td>
                        <a href="{% url 'edit_book' p.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_book' p.id %}" class="btn btn-danger">Delete</a>
                        <!-- id dite hbe delete a -->
                     </td>
                    </tr>
                    {% endfor %}
                   
                 </tbody>
                 </table>
           </div>
         </div>
    </div>
 </div>
 

{% endblock %}