{% extends "base.html" %}

{% block head_title %}BoiBook{% endblock %} {% block content %}
{% load static %}


<div class="container banner-container">
    <div class="banner rounded">
      <div class="banner-left">
        <h2 text-start>
          Welcome to BoiBook
        </h2>
        <h4>Here You can Learn about different kinds of Post</h4>
        <p class="w-50 m-auto text-start">
           literary worlds come to life! Immerse yourself in a curated collection of captivating stories that span genres and ignite the imagination.
        </p>
      </div>
      <div class="banner-img">
        <img class="bn-img" src="{% static 'images/bookshop2.jpg' %}" alt="" />
      </div>
    </div>
  </div>

  <main class="container-fluid">
    <div class="products-container h-auto">
       <div class="row">
           <div class="category-container text-center col-md-2 p-4 h-auto">
            <h5>All Categories</h5>
            {% for category in  categories %}
              <a class="btn btn-success my-1"  href="{% url 'category_wise_car' category.slug %}">{{category.name}}</a>
            {% endfor %}
           </div>
           <div class="all-products col-md-10 pb-2">
             <div class="d-flex flex-wrap gap-2">
                {% for p in data %}
                  <div class="card text-center" style="width: 14rem;">
                      <img style="height:200px;" src="{{p.image.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{p.post_name}}</h5>
                        <p class="card-text">{{p.description | truncatewords:15}}</p>
                        
                        <a href="{% url 'detail_book' p.id %}" class="btn btn-primary">Details</a>
                      </div>
                  </div>
                {% endfor %} 
             </div>
           </div>
       </div>
    </div>
 </main>
  
  {% comment %} <div class="contactUs-Container d-flex justify-content-center">
    <div></div>
    {% include "contact_us/contact_us.html" %}
  </div> {% endcomment %}
{% endblock %}